# Ignore package.json in the frontend folder
frontend/package.json

# Ignore package.json in the backend folder
backend/package.json
backend/nodemon.json

# Ignore the entire node-express folder
node-express/